In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf

In [3]:
data = pd.read_csv('Iris.csv')

In [4]:
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
X = data[['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']]
X.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [6]:
d={'Iris-setosa':0, 'Iris-versicolor':1, 'Iris-virginica':2}

In [9]:
Y=data[['Species']]
Y["Species"] =Y['Species'].map(d) 
Y.head()

/home/pirate/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   Species
0        0
1        0
2        0
3        0
4        0

In [10]:
## first train_test split the data
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.3)

In [11]:
X.isnull().sum()

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
dtype: int64

In [12]:
Y.isnull().sum()

Species    0
dtype: int64

In [13]:
def normalize(df):
    result = df.copy()
    for feature_name in df.columns:
        max_value = df[feature_name].max()
        min_value = df[feature_name].min()
        result[feature_name] = (df[feature_name] - min_value) / (max_value - min_value)
    return result

In [14]:
X_norm_train = normalize(x_train)

In [15]:
X_norm_train.head()

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
119       0.457143      0.000000       0.677966      0.583333
21        0.200000      0.681818       0.084746      0.125000
125       0.800000      0.454545       0.847458      0.708333
42        0.000000      0.454545       0.050847      0.041667
58        0.628571      0.318182       0.610169      0.500000

In [16]:
X_norm_test = normalize(x_test)
X_norm_test.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
49       0.225806          0.65           0.06      0.041667
86       0.774194          0.55           0.72      0.583333
87       0.645161          0.15           0.66      0.500000
59       0.290323          0.35           0.56      0.541667
14       0.483871          1.00           0.02      0.041667

In [17]:
print(X_norm_train.shape)
print(X_norm_test.shape)
print(y_train.shape)
print(y_test.shape)

(105, 4)
(45, 4)
(105, 1)
(45, 1)

In [18]:
## we are adding sequental model nor convnet

model = tf.keras.models.Sequential() ## making th sequental model
## add layer we have to change the shape with flatten
model.add(tf.keras.layers.Flatten())
## perceptron 128 per layer actication function rectified linear
model.add(tf.keras.layers.Dense(128,activation=tf.nn.relu))
model.add(tf.keras.layers.Dense(128,activation=tf.nn.relu))
model.add(tf.keras.layers.Dense(128,activation=tf.nn.relu))
model.add(tf.keras.layers.Dense(128,activation=tf.nn.relu))
## final activation function softmax and 3 cause data will be 3 catagory
model.add(tf.keras.layers.Dense(3,activation=tf.nn.softmax))


## added layers perceptron activation function
## adding optimizer and loss and metrics of the 

model.compile(optimizer='adam',loss='sparse_categorical_crossentropy',metrics=['accuracy'])

WARNING:tensorflow:From /home/pirate/anaconda2/lib/python2.7/site-packages/tensorflow/python/ops/resource_variable_ops.py:435: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [19]:
model.fit(np.array(x_train),np.array(y_train),epochs=20)

Epoch 1/20
105/105 [==============================] - 1s 7ms/sample - loss: 0.9604 - acc: 0.5238
Epoch 2/20
105/105 [==============================] - 0s 345us/sample - loss: 0.7748 - acc: 0.6952
Epoch 3/20
105/105 [==============================] - 0s 359us/sample - loss: 0.6090 - acc: 0.6952
Epoch 4/20
105/105 [==============================] - 0s 415us/sample - loss: 0.4787 - acc: 0.9238
Epoch 5/20
105/105 [==============================] - 0s 404us/sample - loss: 0.3869 - acc: 0.8762
Epoch 6/20
105/105 [==============================] - 0s 357us/sample - loss: 0.3363 - acc: 0.8667
Epoch 7/20
105/105 [==============================] - 0s 412us/sample - loss: 0.3269 - acc: 0.8667
Epoch 8/20
105/105 [==============================] - 0s 356us/sample - loss: 0.2570 - acc: 0.9048
Epoch 9/20
105/105 [==============================] - 0s 392us/sample - loss: 0.2218 - acc: 0.9524
Epoch 10/20
105/105 [==============================] - 0s 409us/sample - loss: 0.1755 - acc: 0.9524
Epoch 11/20
105/105 [==============================] - 0s 379us/sample - loss: 0.1461 - acc: 0.9714
Epoch 12/20
105/105 [==============================] - 0s 372us/sample - loss: 0.1373 - acc: 0.9429
Epoch 13/20
105/105 [==============================] - 0s 386us/sample - loss: 0.1244 - acc: 0.9714
Epoch 14/20
105/105 [==============================] - 0s 386us/sample - loss: 0.1045 - acc: 0.9810
Epoch 15/20
105/105 [==============================] - 0s 341us/sample - loss: 0.1036 - acc: 0.9810
Epoch 16/20
105/105 [==============================] - 0s 379us/sample - loss: 0.1504 - acc: 0.9333
Epoch 17/20
105/105 [==============================] - 0s 397us/sample - loss: 0.1984 - acc: 0.9238
Epoch 18/20
105/105 [==============================] - 0s 391us/sample - loss: 0.0756 - acc: 0.9810
Epoch 19/20
105/105 [==============================] - 0s 407us/sample - loss: 0.1621 - acc: 0.9238
Epoch 20/20
105/105 [==============================] - 0s 375us/sample - loss: 0.2031 - acc: 0.9143

In [20]:
loss,acc=model.evaluate(x_test,y_test)

45/45 [==============================] - 0s 5ms/sample - loss: 0.0701 - acc: 0.9556

In [21]:
print ("Loss : "+str(loss))
print ("Accuracy : "+str(acc))

Loss : 0.0701161474817329
Accuracy : 0.95555556

In [22]:
prediction=model.predict([x_test])

In [23]:
y_test = np.array(y_test)

In [24]:
def transform(num):
    if num==0:
        return 'Iris-setosa'
    elif num==1:
        return 'Iris-versicolor'
    else:
        return 'Iris-virginica'


def test():
    data=np.random.randint(0,10)
    print ("Prediction :"+str(transform(np.argmax(prediction[data]))))
    print("Actual Value :"+str(transform(y_test[data][0])))

In [25]:
test()

Prediction :Iris-versicolor
Actual Value :Iris-versicolor