In [23]:
import numpy as np
import pandas as pd
import tensorflow as tf
import sklearn
from sklearn import datasets
import matplotlib.pyplot as plt

In [24]:
## import the wine datasets
wine_data = datasets.load_wine()
feature_matrix,target,feature_name,label_name =wine_data['data'],wine_data['target'],wine_data['feature_names'],wine_data['target_names']

In [25]:
#x_test_norm
X = pd.DataFrame(data=feature_matrix,columns=feature_name)
Y = pd.DataFrame(data=target,columns=['target'])
#x_test_norm
#X_train = pd.DataFrame(data=x_test_norm,columns=x_test.columns,index=x_test.index)

In [26]:
X.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0

In [27]:
Y.head()

   target
0       0
1       0
2       0
3       0
4       0

In [28]:
np.unique(Y)

array([0, 1, 2])

In [29]:
d={0:'class_0',1:'class_1',2:'class_2'}
Y_str = Y['target'].map(d)

In [30]:
Y_str.head()

0    class_0
1    class_0
2    class_0
3    class_0
4    class_0
Name: target, dtype: object

In [31]:
## normalize all the data
def normalize(df):
    result = df.copy()
    for feature_name in df.columns:
        max_value = df[feature_name].max()
        min_value = df[feature_name].min()
        result[feature_name] = (df[feature_name] - min_value) / (max_value - min_value)
    return result

In [32]:
X_norm = normalize(X)

In [33]:
X_norm.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,0.842105,0.191700,0.572193,0.257732,0.619565,0.627586,0.573840,0.283019,0.593060,0.372014,0.455285,0.970696,0.561341
1,0.571053,0.205534,0.417112,0.030928,0.326087,0.575862,0.510549,0.245283,0.274448,0.264505,0.463415,0.780220,0.550642
2,0.560526,0.320158,0.700535,0.412371,0.336957,0.627586,0.611814,0.320755,0.757098,0.375427,0.447154,0.695971,0.646933
3,0.878947,0.239130,0.609626,0.319588,0.467391,0.989655,0.664557,0.207547,0.558360,0.556314,0.308943,0.798535,0.857347
4,0.581579,0.365613,0.807487,0.536082,0.521739,0.627586,0.495781,0.490566,0.444795,0.259386,0.455285,0.608059,0.325963

In [35]:
Y.head()

   target
0       0
1       0
2       0
3       0
4       0

In [39]:
### train and test split
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X_norm,Y,test_size=0.3)

In [40]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(124, 13)
(54, 13)
(124, 1)
(54, 1)

In [41]:
## we are adding sequental model nor convnet

model = tf.keras.models.Sequential() ## making th sequental model
## add layer we have to change the shape with flatten
model.add(tf.keras.layers.Flatten())
## perceptron 128 per layer actication function rectified linear
model.add(tf.keras.layers.Dense(128,activation=tf.nn.relu))
model.add(tf.keras.layers.Dense(128,activation=tf.nn.relu))
model.add(tf.keras.layers.Dense(128,activation=tf.nn.relu))
model.add(tf.keras.layers.Dense(128,activation=tf.nn.relu))
## final activation function softmax and 3 cause data will be 3 catagory
model.add(tf.keras.layers.Dense(3,activation=tf.nn.softmax))

In [43]:
## giving losss and optimizer

model.compile(optimizer='adam',loss='sparse_categorical_crossentropy',metrics=['accuracy'])

In [44]:
model.fit(np.array(x_train),np.array(y_train),epochs=30)

Epoch 1/30
124/124 [==============================] - 2s 13ms/sample - loss: 1.0732 - acc: 0.3306
Epoch 2/30
124/124 [==============================] - 0s 346us/sample - loss: 0.9769 - acc: 0.4839
Epoch 3/30
124/124 [==============================] - 0s 325us/sample - loss: 0.8753 - acc: 0.7339
Epoch 4/30
124/124 [==============================] - 0s 383us/sample - loss: 0.7473 - acc: 0.8871
Epoch 5/30
124/124 [==============================] - 0s 326us/sample - loss: 0.5960 - acc: 0.9597
Epoch 6/30
124/124 [==============================] - 0s 379us/sample - loss: 0.4306 - acc: 0.9677
Epoch 7/30
124/124 [==============================] - 0s 328us/sample - loss: 0.2857 - acc: 0.9758
Epoch 8/30
124/124 [==============================] - 0s 358us/sample - loss: 0.1857 - acc: 0.9597
Epoch 9/30
124/124 [==============================] - 0s 342us/sample - loss: 0.1244 - acc: 0.9758
Epoch 10/30
124/124 [==============================] - 0s 348us/sample - loss: 0.0970 - acc: 0.9758
Epoch 11/30
124/124 [==============================] - 0s 335us/sample - loss: 0.0693 - acc: 0.9839
Epoch 12/30
124/124 [==============================] - 0s 344us/sample - loss: 0.0561 - acc: 0.9839
Epoch 13/30
124/124 [==============================] - 0s 399us/sample - loss: 0.0396 - acc: 0.9919
Epoch 14/30
124/124 [==============================] - 0s 536us/sample - loss: 0.0328 - acc: 1.0000
Epoch 15/30
124/124 [==============================] - 0s 444us/sample - loss: 0.0226 - acc: 0.9919
Epoch 16/30
124/124 [==============================] - 0s 373us/sample - loss: 0.0183 - acc: 1.0000
Epoch 17/30
124/124 [==============================] - 0s 394us/sample - loss: 0.0161 - acc: 1.0000
Epoch 18/30
124/124 [==============================] - 0s 333us/sample - loss: 0.0147 - acc: 1.0000
Epoch 19/30
124/124 [==============================] - 0s 420us/sample - loss: 0.0098 - acc: 1.0000
Epoch 20/30
124/124 [==============================] - 0s 418us/sample - loss: 0.0090 - acc: 1.0000
Epoch 21/30
124/124 [==============================] - 0s 456us/sample - loss: 0.0115 - acc: 1.0000
Epoch 22/30
124/124 [==============================] - 0s 473us/sample - loss: 0.0090 - acc: 1.0000
Epoch 23/30
124/124 [==============================] - 0s 362us/sample - loss: 0.0080 - acc: 1.0000
Epoch 24/30
124/124 [==============================] - 0s 343us/sample - loss: 0.0044 - acc: 1.0000
Epoch 25/30
124/124 [==============================] - 0s 445us/sample - loss: 0.0048 - acc: 1.0000
Epoch 26/30
124/124 [==============================] - 0s 498us/sample - loss: 0.0036 - acc: 1.0000
Epoch 27/30
124/124 [==============================] - 0s 504us/sample - loss: 0.0046 - acc: 1.0000
Epoch 28/30
124/124 [==============================] - 0s 488us/sample - loss: 0.0033 - acc: 1.0000
Epoch 29/30
124/124 [==============================] - 0s 318us/sample - loss: 0.0030 - acc: 1.0000
Epoch 30/30
124/124 [==============================] - 0s 373us/sample - loss: 0.0024 - acc: 1.0000

In [45]:
loss,acc=model.evaluate(x_test,y_test)

54/54 [==============================] - 0s 4ms/sample - loss: 0.0692 - acc: 0.9630

In [46]:
print ("LOSS : "+str(loss))
print ("ACCURACY : "+str(acc))

LOSS : 0.06923694020413139
ACCURACY : 0.962963

In [49]:
## make prediction
prediction=model.predict([x_test])
real_value = np.array(y_test)

In [50]:
def transform(num):
    if num==0:
        return 'class_0'
    elif num==1:
        return 'class_1'
    else:
        return 'class_2'


def test():
    data=np.random.randint(0,10)
    print ("Prediction :"+str(transform(np.argmax(prediction[data]))))
    print("Actual Value :"+str(transform(real_value[data][0])))

In [55]:
for item in range(20):
    print "-"*10
    test()

----------
Prediction :class_1
Actual Value :class_1
----------
Prediction :class_0
Actual Value :class_0
----------
Prediction :class_0
Actual Value :class_0
----------
Prediction :class_2
Actual Value :class_2
----------
Prediction :class_1
Actual Value :class_1
----------
Prediction :class_2
Actual Value :class_1
----------
Prediction :class_1
Actual Value :class_1
----------
Prediction :class_2
Actual Value :class_2
----------
Prediction :class_1
Actual Value :class_1
----------
Prediction :class_0
Actual Value :class_0
----------
Prediction :class_2
Actual Value :class_1
----------
Prediction :class_1
Actual Value :class_1
----------
Prediction :class_1
Actual Value :class_1
----------
Prediction :class_1
Actual Value :class_1
----------
Prediction :class_1
Actual Value :class_1
----------
Prediction :class_2
Actual Value :class_2
----------
Prediction :class_2
Actual Value :class_1
----------
Prediction :class_1
Actual Value :class_1
----------
Prediction :class_2
Actual Value :class_2
----------
Prediction :class_2
Actual Value :class_2